.continer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.primary {
    position: absolute;
    left: 47%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.2s ease 0.2s 1.0 alternate both;
}
.inner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.one {
    position: absolute;
    left: 35%;
    top: 21%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.2s ease 0.2s 1.0 alternate both;
}
.two {
    position: absolute;
    right: 29%;
    top: 53%;
    transform: translate(50%,-50%);
    animation: scale-in-center 1.2s ease 0.2s 1.0 alternate both;
}
.three {
    position: absolute;
    left: 37%;
    top: 59%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.4s ease 0.4s 1.2 alternate both;
}
.four {
    position: absolute;
    right: 37%;
    top: 27%;
    transform: translate(50%,-50%);
    animation: scale-in-center 1.4s ease 0.4s 1.2 alternate both;
}
.five {
    position: absolute;
    left: 23%;
    top: 40%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.6s ease 0.6s 1.4 alternate both;
}
.six {
    position: absolute;
    right: 24%;
    top: 38%;
    transform: translate(50%,-50%);
    animation: scale-in-center 1.6s ease 0.6s 1.4 alternate both;
}
.seven {
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.8s ease 0.8s 1.6 alternate both;
}
.eight {
    position: absolute;
    right: 15%;
    top: 52%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.8s ease 0.8s 1.6 alternate both;
}
.nine {
    position: absolute;
    left: 10%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: scale-in-center 1.8s ease 0.8s 1.4 alternate both;
}


@keyframes scale-in-center {
        
    0% {
        transform:scale(0);
        opacity:1;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}